#nomeFunc{
	background-color: #ececec;
    color: #000000;
}
#cpfFunc{
	background-color: #ececec;
    color: #000000;
}
#telefoneFunc{
	background-color: #ececec;
    color: #000000;
}
#loginFunc{
	background-color: #ececec;
    color: #000000;
}